#salespage {
    background-image: url("https://images.unsplash.com/photo-1474716934413-9f9613f0edb2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
    font-family: 'Times New Roman', Times, serif
    font-size: 14pt;
  
  }
  
  fieldset {
  font-size: 14pt;
  border: 5px;px solid grey ;
  margin-right:2550px;
  margin-top: 50px;
  background-color:rgb(110, 18, 10);
  color : #ffe3d8
  }

  th{
    border: 5px solid rgb(0, 0, 0);
    color: rgba(42, 0, 169, 0.9);
  
   
  }
  
  #sales {
    margin: auto;
    width: 200px;
    height:100px;
    background-color: #e8e8e8 
  }

  #return {
    cursor: pointer;
    width: 120px;
    height: 25px;
    font-size: 18pt;
    color: black;
    background-color: rgba(14, 156, 204, 0.856);
  }


  #homepage {
   text-decoration: none; 
    font-size : 36pt;
    display: block;
    border-radius: 2px;
  }
  #salmon {
    margin-right: 700px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    float: right;
    background-color: unset;
  }
  
  #intro {
    margin-right:290px;
    margin-left: 250px; 
   text-align: center;
   color:rgb(4, 34, 19);
   font-size: 40pt;
   font: outline bold;
   vertical-align: center;
 }

 #ad {
  margin: 20px 100px;
  background-image: url("https://images.unsplash.com/photo-1576576772881-299dd1fd00bb?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");
  background-repeat: no-repeat
  border: 5px solid goldenrod;

  h2{
    color:black;
    font-size: 24pt;
    border: 10px solid rgb(3, 6, 148);
    text-align: center;
    background-color: white;
    margin: 0 900px;
    margin-bottom:50px ;
  }